.hero{
    background: var(--hero-bg-decoration);
    text-align: center;

    padding: 200px 477px;
}

.hero-title{
    margin-bottom: 46px;

    color:var(--title-text-decoration);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase; 
}

.hero .button{
    margin-left: auto;
    margin-right: auto;
    
}
.advantages {
    background-color: var(--main-bg-decoration);
    letter-spacing: 0.03em;
    padding-top: 94px;
    padding-bottom: 94px;
    border-bottom: 1px solid #ECECEC;
}

.advantage-header{
    display: none;
    background: var(--main-bg-decoration);
}

.advantage-container{
    display: flex;
}

.advantage-container .item{
    width: calc((100% - 90px) / 4);
}

.advantages .item:not(:last-child){
    margin-right: 30px;
}

.advantages-header{
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;  
}

.advantages-text{
    color: var(--secondary-text-color);
    font-size: 14px;
    line-height: 1.71;
}

.occupation-list{
    display: flex;
}

.occupation{
    padding-top: 94px;
    padding-bottom: 94px;
    background: var(--main-bg-decoration);
}

.occupation-list .item:not(:last-child)  {
    
    margin-right: 30px;
}

.occupation .header{
    background: var(--main-bg-decoration);
}

.occupation-text{
    text-align: center;
    padding: 27px 70px;

    background-color: rgba(47, 48, 58, 0.8);
    border-radius: 0px 0px 4px 4px;
}

.occupation-link{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    color: var(--title-text-decoration);
    text-transform: uppercase;
}

.team{
    padding-top: 94px;
    padding-bottom: 94px;
}


.team-list{
    display: flex;
}

.team .header{
    margin-bottom: 50px;
}

.team .header,
.team{
    background-color: var(--team-bg-decoration);
}



.team-list .item{
    padding-bottom: 24px;

}

.team-list .item{
    width: calc((100%-90px) / 4);
}

.team-list .item:not(:last-child){
    margin-right: 30px;
}

.team-name{
    margin-bottom: 10px;
    margin-top: 30px;

    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: var(--primary-text-decoration);
}

.team-text{
    margin-bottom: 16px;    

    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: var(--secondary-text-color);
}

.customers{
    padding-top: 94px;
    padding-bottom: 94px;
    background: var(--main-bg-decoration);
}

.customers .header{
    padding-bottom: 50px;
    
    background: var(--main-bg-decoration);
}

.customers-list{
    display: flex;
}

.customers-list .item {
    width: calc((100%-180px) / 6);
}

.customers-list .item:not(:last-child){
    margin-right: 30px;
}

